aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
altair
anyio
appdirs==1.4.4
archspec
argon2-cffi-bindings
arrow
astroid
astropy
async-lru
atomicwrites==1.4.0
attrs
Automat
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
binaryornot
black
blinker
bokeh
boltons
botocore
Bottleneck
Brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent
colorama
colorcet
comm
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
dask
datashader
debugpy
defusedxml
dill
distributed
distro
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
fastjsonschema
filelock
flake8
Flask
fonttools==4.25.0
frozendict
frozenlist
fsspec
future
gensim
gitdb
GitPython
gmpy2
google-ai-generativelanguage==0.6.6
google-api-core==2.19.2
google-api-python-client==2.142.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
googleapis-common-protos==1.65.0
greenlet
grpcio==1.66.0
grpcio-status==1.62.3
h5py
holoviews
httplib2==0.22.0
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
# libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
# menuinst
mistune
mkl-fft
mkl-random
mkl-service
more-itertools
mpmath
msgpack
multidict
multipledispatch
munkres
mypy
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openpyxl==3.0.10
overrides
packaging
pandas
panel
param
parsel
partd
pathspec
patsy==0.5.3
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
prometheus-client
prompt-toolkit
Protego
proto-plus==1.24.0
protobuf==4.25.4
psutil
psycopg2-binary==2.9.9
ptyprocess
py-cpuinfo
py4j==0.10.9.7
pyarrow
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic
pydeck
PyDispatcher==2.0.5
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
# pyspark==3.5.1
pytest
python-dateutil
python-dotenv==1.0.1
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rsa==4.9
Rtree
ruamel.yaml
s3fs
scikit-image
scikit-learn
scipy
Scrapy
seaborn
semver
Send2Trash
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
statsmodels
streamlit
sympy
tables
tabulate
tenacity
terminado
textdistance
three-merge
tifffile
tinycss2
toml
tomlkit
toolz
tornado
tqdm
traitlets
truststore
typing_extensions
tzdata
tzlocal
uc-micro-py
ujson
Unidecode
uritemplate==4.1.1
urllib3
validators
w3lib
watchdog
webencodings==0.5.1
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
win-inet-pton
wrapt
xarray
xlwings
xyzservices
yapf
yarl
zenrows==1.3.2
zict
zipp
zope.interface
zstandard==0.19.0
